        <!-- add main content here -->
        <div id="content" class="site-content container">
        <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">

            <article class="post-5 page type-page status-publish hentry">
                <header class="entry-header">
                  <h1 class="entry-title">{{dashboard.header}}</h1>
                </header>
                <!-- .entry-header -->

                <div class="entry-content">
                
                	<div class="well">
	                	<ul>
	                		<li><p>Database</p></li>
	                			<ul>
			                		<li><p><button type="button" class="btn btn-danger" 
			                					ng-click="dashboard.dbClean()" >
			                			Purge</button> : clean all row data from tables.</p></li>
			                		<li><p><button type="button" class="btn btn-danger"
			                					ng-click="dashboard.dbInit()" >
			                			Initialize</button> : save history energy data from PVI register</p></li>
	                			</ul>
	                	</ul>
                	</div>
                	<div class="well">
                		<ul>
	                		<li>Internal Process</li>
	                			<ul>
	                				<li>Polling : periodic read Energy Day-0 value and save onto database</li>
	                				<li>Log Daily Energy : save today energy when day changed</li>
	                				<li>Log Monthly Energy : save this month energy when month changed</li>
	                			</ul>
	                	</ul>
                	</div>

                </div><!-- .entry-content -->

                <footer class="entry-footer">
                </footer><!-- .entry-footer -->

            </article>

        </main><!-- #main -->
        </div><!-- #primary -->
        </div><!-- #content -->

